'atom-text-editor[data-grammar~="clojure"], atom-text-editor[data-grammar~="lisp"], atom-text-editor[data-grammar~="newlisp"], atom-text-editor[data-grammar~="racket"], atom-text-editor[data-grammar~="scheme"]':
  # Provides proper indentation when enter is pressed
  'atom-text-editor[data-grammar~="clojure"]':
    'enter': 'lisp-paredit:newline'
  # Override newline back to original when in Proto-REPL console
  # GitHub Issue: https://github.com/jonspalding/lisp-paredit/issues/26
  'ink-console atom-text-editor[data-grammar~="clojure"]':
    'enter': 'editor:newline'
  'cmd-shift-up': 'lisp-paredit:expand-selection'
  'cmd-shift-down': 'lisp-paredit:contract-selection'
  'enter':          'lisp-paredit:newline'

'.platform-darwin atom-workspace atom-text-editor':
  'ctrl-d': 'proto-repl:exit-repl'
  'cmd-l':  'go-to-line:toggle'
  'ctrl-l': 'proto-repl:clear-repl'
  
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
  'cmd-enter': 'proto-repl:execute-top-block'
